body{
    background-color: rgb(233, 240, 240);
}
.container {
    margin: auto;
    width: 100%;
}

#title-style {
    color: rgb(35, 102, 141);
    font-style: italic;
}
.nav-link{
    color: rgb(31, 78, 102);
}
.nav-link:hover {
    color: rgb(56, 56, 128);
}
.nav {
    font-size: 26px;
    font-style: bold;
}
.vizualize-bg {
    background-color: rgb(235, 224, 230);
    border: 1px solid black;
    color: black;
    border-radius: 7px;
}
.btn-style{
    background-color: rgb(35, 102, 141);
    border: 1px solid rgb(35, 102, 141);
}
.text_color {
    color: rgb(31, 78, 102);
}
footer{
    margin: auto;
    width: 100%;
}
.btn-pos {
    padding: 15px;
}
.playPauseBtn {
    background-color: rgb(235, 224, 230);
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 20px;
    margin-top: 5px;
}

/* Vizualization part */
.flex-container{
    margin-top: 40px;
    display: flex;
    width: 100%;
    height: 600px;
    border-radius: 15px;
    justify-content: center;
    transition: 2.5s all ease;
}
.flex-item{
    background: rgb(35, 102, 141);
    border: 1px solid rgb(189, 186, 216);
    border-radius: 0 0 9px 9px;
    width: 62px;
    margin-right: 10px;
    transition: 0.1s all ease;
}
#input{
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
h4 {
    color: white;
    padding: 5px;
}
/* .button.play {
    border-style: solid;
    box-sizing: border-box;
    width: 44px;
    height: 24px;
    border-width: 27px 0px 27px 54px;
    border-color: transparent transparent transparent #202020;
}
.button.pause {
width: 74px;
  height: 74px;
  border-style: double;
  border-width: 0px 0px 0px 37px;
  border-color: #202020;
}
.sort-button {
    padding-left: 35px;
    padding-right: 35px;
} */